/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


body {
  font-family: 'Cuprum', sans-serif;
}

nav ul a,
nav .brand-logo {
  color: #00838f;
}

nav .brand-logo {
  font-family: 'Prosto One', cursive;
}

nav .nav-wrapper {
    padding: 0 50px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.header{
  margin-top: 16%;
  font-size: 4.5em;
}

.header-subtitle{
  margin-top: 10%;
  font-size: 1.5em;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.col-servizio{
  margin-top: 60px;
  margin-bottom: 80px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}


#servizio h5{
  line-height: 1.5em;
}

#servizio h3{
  font-size: 1.5em;
  line-height: 1.6em;
}

.registrazione-icon {
  margin-top: 80px;
  font-size: 6em;
  }

#registrazione h5 {
  font-size: 1.5em;
  margin-top: 3em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

.btn-registrazione {
  width: 100%
}

.imprese-icon {
  margin-top: 80px;
  font-size: 6em;
  }

#imprese h5 {
  font-size: 1.5em;
  margin-top: 3em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

.btn-imprese {
  width: 100%
}

#footer h5 {
  margin-top: 0.5em;
}

footer.page-footer {
  margin: 0;
  background-color: #006064
}

.social-icon {
  font-size: 1.5em;
  color: #fff;
  padding: 0 20px;
}

.social-icon:hover {
  color: #ffd180
}